@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "tailwindcss";

@theme {
  --font-DM: "DM Sans", "serif";
  --font-poppins: "Poppins", "serif";

  /* header-color */

  --color-headerBG-01: #020202;
  --color-headerFont-01: #a2a6b0;
  --color-button: #0156ff;

  --drop-shadow-mega: 0 5px 5px #00000010;
}

/* CustomAfter a CSS className */
.customAfter {
  @apply after:content-[""] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black/50 after:z-10;
}

/* Slick-Slider & customPaging  className */
.slick-active .active {
  @apply bg-[#517DD4];
}
